## Notebook budujący model predykcji przeżycia pasażera na zbiorze Titanic
Notebook budujący model predykcji przeżycia pasażera na zbiorze Titanic
W tym notatniku przeprowadzimy kompletny proces budowy modelu klasyfikacyjnego przewidującego przeżycie pasażera na podstawie danych z Titanica. Rozpoczniemy od wczytania i eksploracji danych, aby lepiej zrozumieć ich strukturę oraz zależności między cechami. Następnie przejdziemy do przygotowania danych, obejmującego czyszczenie, uzupełnianie braków oraz kodowanie zmiennych kategorycznych. Po podziale danych na zbiory treningowy i testowy, zbudujemy i wytrenujemy modele klasyfikacyjne, takie jak regresja logistyczna i las losowy. Na koniec dokonamy ewaluacji modeli, porównamy ich skuteczność oraz wykonamy predykcję na nowych danych pasażerów.

## Importowanie bibliotek i wczytanie danych

Ładujemy niezbędne biblioteki (pandas, numpy, scikit-learn, matplotlib,)

In [1]:
# Importowanie bibliotek
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Wczytanie danych z pliku CSV

W tym kroku pobieramy zbiór danych Titanic z repozytorium GitHub. Zbiór zawiera informacje o pasażerach Titanica, takie jak wiek, płeć, klasa podróży oraz informacja o przeżyciu katastrofy.

Wykonywane operacje:
1. Definiujemy adres URL prowadzący do surowego pliku CSV w repozytorium GitHub
2. Wczytujemy dane bezpośrednio z adresu URL do ramki danych Pandas
3. Zapisujemy pobrany zbiór danych lokalnie jako plik 'titanic.csv' dla późniejszego użycia

Ten zbiór danych będzie podstawą do budowy modelu predykcyjnego, który pozwoli przewidzieć prawdopodobieństwo przeżycia pasażera na podstawie dostępnych cech.

In [2]:
url = 'https://github.com/datasciencedojo/datasets/blob/master/titanic.csv?raw=true'
titanic = pd.read_csv(url)
titanic.to_csv('titanic.csv', index=False)

## Wczytanie danych do Apache Spark

W kolejnym kroku wczytujemy dane pasażerów Titanica do środowiska Apache Spark, które umożliwi nam przetwarzanie danych na większą skalę. Apache Spark jest wydajnym narzędziem do analizy dużych zbiorów danych, wykorzystującym przetwarzanie w pamięci.

Wykonywane operacje:
1. Tworzenie sesji Spark poprzez użycie SparkSession.builder
2. Nadanie aplikacji nazwy "ML" (Machine Learning)
3. Wczytanie wcześniej zapisanego pliku CSV do formatu DataFrame Sparka
4. Automatyczne wykrywanie typów danych (inferSchema=True) oraz poprawne przetwarzanie nagłówków (header=True)
5. Wyświetlenie pierwszych 5 wierszy danych w celu szybkiej weryfikacji poprawności wczytania

Ta konwersja danych do formatu Spark DataFrame pozwoli nam wykorzystać zaawansowane funkcje Sparka do dalszej analizy, przetwarzania i budowania modeli.

In [3]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("ML").getOrCreate()

dataset = spark.read.csv("titanic.csv", header=True, inferSchema=True)
dataset.show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 5 rows

## Wstępne przetwarzanie danych w Spark - usuwanie zbędnych kolumn

W tym kroku usuwamy kolumny, które nie wnoszą wartości do modelu predykcyjnego lub mogą nawet zakłócać proces uczenia maszynowego:

1. **PassengerId** - unikalny identyfikator pasażera nie zawiera informacji istotnych dla przewidywania przeżycia; numeracja jest arbitralna i nie ma związku z charakterystyką pasażera

2. **Name** - imiona i nazwiska pasażerów nie mają bezpośredniego wpływu na prawdopodobieństwo przeżycia; choć mogłyby zostać wykorzystane do wyodrębnienia tytułów (np. Mr., Mrs., Dr.), zdecydowano się na prostsze podejście z wykorzystaniem już dostępnej zmiennej 'Sex'

3. **Ticket** - numery biletów mają zbyt wiele unikalnych wartości i nie wykazują oczywistego wzorca, który mógłby pomóc w predykcji

4. **Cabin** - informacja o kabinie ma zbyt wiele brakujących wartości (około 77%), co czyni ją nieprzydatną bez zaawansowanego uzupełniania danych

Pozostałe zmienne, takie jak klasa podróży (Pclass), płeć (Sex), wiek (Age), liczba rodzeństwa/małżonków (SibSp), liczba rodziców/dzieci (Parch), opłata za przejazd (Fare) oraz port zaokrętowania (Embarked), są zachowane, ponieważ zawierają istotne informacje, które mogą mieć znaczący wpływ na przeżycie pasażerów.

In [4]:
dataset= dataset.drop("PassengerId", "Name", "Ticket", "Cabin")
dataset.show(5)

+--------+------+------+----+-----+-----+-------+--------+
|Survived|Pclass|   Sex| Age|SibSp|Parch|   Fare|Embarked|
+--------+------+------+----+-----+-----+-------+--------+
|       0|     3|  male|22.0|    1|    0|   7.25|       S|
|       1|     1|female|38.0|    1|    0|71.2833|       C|
|       1|     3|female|26.0|    0|    0|  7.925|       S|
|       1|     1|female|35.0|    1|    0|   53.1|       S|
|       0|     3|  male|35.0|    0|    0|   8.05|       S|
+--------+------+------+----+-----+-----+-------+--------+
only showing top 5 rows

In [5]:
dataset.describe().toPandas()

,summary,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
0,count,891,891,891,714,891,891,891,889
1,mean,0.3838383838383838,2.308641975308642,None,29.69911764705882,0.5230078563411896,0.38159371492704824,32.2042079685746,None
2,stddev,0.48659245426485753,0.8360712409770491,None,14.526497332334035,1.1027434322934315,0.8060572211299488,49.69342859718089,None
3,min,0,1,female,0.42,0,0,0.0,C
4,max,1,3,male,80.0,8,6,512.3292,S

In [6]:
dataset.filter(dataset["Age"].isNull()).show(),
dataset.filter(dataset["Embarked"].isNull()).show(),
dataset.filter(dataset["Fare"].isNull()).count(),
dataset.filter(dataset["Survived"].isNull()).count()

+--------+------+------+----+-----+-----+--------+--------+
|Survived|Pclass|   Sex| Age|SibSp|Parch|    Fare|Embarked|
+--------+------+------+----+-----+-----+--------+--------+
|       0|     3|  male|NULL|    0|    0|  8.4583|       Q|
|       1|     2|  male|NULL|    0|    0|    13.0|       S|
|       1|     3|female|NULL|    0|    0|   7.225|       C|
|       0|     3|  male|NULL|    0|    0|   7.225|       C|
|       1|     3|female|NULL|    0|    0|  7.8792|       Q|
|       0|     3|  male|NULL|    0|    0|  7.8958|       S|
|       1|     1|female|NULL|    1|    0|146.5208|       C|
|       1|     3|female|NULL|    0|    0|    7.75|       Q|
|       1|     3|  male|NULL|    0|    0|  7.2292|       C|
|       0|     3|  male|NULL|    0|    0|  7.8958|       C|
|       0|     3|  male|NULL|    0|    0|    8.05|       S|
|       0|     3|  male|NULL|    1|    0|    15.5|       Q|
|       1|     3|female|NULL|    0|    0|    7.75|       Q|
|       0|     3|  male|NULL|    2|    0| 21.6792|       C|
|       1|     1|  male|NULL|    0|    0|    35.5|       S|
|       0|     1|  male|NULL|    0|    0| 27.7208|       C|
|       1|     3|  male|NULL|    1|    1| 15.2458|       C|
|       0|     3|  male|NULL|    0|    0|  7.8958|       S|
|       0|     3|  male|NULL|    0|    0|    8.05|       S|
|       1|     3|female|NULL|    0|    0|  7.7875|       Q|
+--------+------+------+----+-----+-----+--------+--------+
only showing top 20 rows

+--------+------+------+----+-----+-----+----+--------+
|Survived|Pclass|   Sex| Age|SibSp|Parch|Fare|Embarked|
+--------+------+------+----+-----+-----+----+--------+
|       1|     1|female|38.0|    0|    0|80.0|    NULL|
|       1|     1|female|62.0|    0|    0|80.0|    NULL|
+--------+------+------+----+-----+-----+----+--------+

0

### Wypełnianie braków danych w Spark za pomocą Imputer

W poniższej komórce wykorzystujemy klasę `Imputer` z biblioteki PySpark ML do uzupełnienia brakujących wartości w kolumnach `Age` i `Fare` średnią arytmetyczną. Najpierw tworzymy obiekt imputer, określając strategię (`mean`) oraz kolumny wejściowe i wyjściowe. Następnie dopasowujemy model do danych i transformujemy oryginalny zbiór danych, zastępując brakujące wartości odpowiednimi średnimi. Dzięki temu wszystkie rekordy zostają zachowane, a model może lepiej wykorzystać dostępne dane.

### Statystyki opisowe po uzupełnieniu braków

W tej komórce ponownie wyświetlamy statystyki opisowe zbioru danych po uzupełnieniu brakujących wartości w kolumnach `Age` i `Fare`. Pozwala to zweryfikować, czy operacja imputacji została przeprowadzona poprawnie oraz jak zmieniły się podstawowe statystyki tych cech. Dzięki temu możemy ocenić wpływ uzupełnienia braków na rozkład danych i przygotować zbiór do dalszego przetwarzania.

In [7]:
from pyspark.ml.feature import Imputer

In [8]:
imputer = Imputer(strategy="mean", inputCols=["Age", "Fare"], outputCols=["Age", "Fare"])
imputer_model = imputer.fit(dataset)
dataset = imputer_model.transform(dataset)

In [9]:
dataset.describe().toPandas()

,summary,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
0,count,891,891,891,891,891,891,891,889
1,mean,0.3838383838383838,2.308641975308642,None,29.699117647058763,0.5230078563411896,0.38159371492704824,32.2042079685746,None
2,stddev,0.48659245426485753,0.8360712409770491,None,13.002015226002891,1.1027434322934315,0.8060572211299488,49.69342859718089,None
3,min,0,1,female,0.42,0,0,0.0,C
4,max,1,3,male,80.0,8,6,512.3292,S

In [10]:
dataset.printSchema()

root
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Embarked: string (nullable = true)

In [11]:
dataset.select("Survived").distinct().show()

+--------+
|Survived|
+--------+
|       1|
|       0|
+--------+

In [12]:
dataset.select("Pclass").distinct().show()

+------+
|Pclass|
+------+
|     1|
|     3|
|     2|
+------+

In [13]:
dataset.select("Sex").distinct().show()

+------+
|   Sex|
+------+
|female|
|  male|
+------+

In [14]:
dataset.select("Age").distinct().show()

+-----------------+
|              Age|
+-----------------+
|              8.0|
|             70.0|
|             0.92|
|             0.42|
|             0.67|
|29.69911764705882|
|             0.83|
|              7.0|
|             20.5|
|             49.0|
|             29.0|
|             40.5|
|             64.0|
|             47.0|
|             42.0|
|             24.5|
|             44.0|
|             35.0|
|             62.0|
|             18.0|
+-----------------+
only showing top 20 rows

In [15]:
dataset.select("SibSp").distinct().show()

+-----+
|SibSp|
+-----+
|    1|
|    3|
|    5|
|    4|
|    8|
|    2|
|    0|
+-----+

In [16]:
dataset.select("Parch").distinct().show()

+-----+
|Parch|
+-----+
|    1|
|    6|
|    3|
|    5|
|    4|
|    2|
|    0|
+-----+

In [17]:
dataset.select("Fare").distinct().show()

+-------+
|   Fare|
+-------+
| 8.5167|
|   15.5|
| 133.65|
| 29.125|
|10.4625|
| 7.0458|
|  9.475|
|11.1333|
| 7.7333|
|77.2875|
| 8.6833|
|41.5792|
| 8.4042|
|14.4542|
|14.4583|
|   8.85|
|27.7208|
|91.0792|
| 7.8292|
|20.2125|
+-------+
only showing top 20 rows

In [18]:
dataset.select("Embarked").distinct().show()

+--------+
|Embarked|
+--------+
|       Q|
|       C|
|       S|
|    NULL|
+--------+

W poniższych komórkach wykonywane są operacje kodowania zmiennych kategorycznych oraz przygotowania danych do dalszego modelowania w Apache Spark:

- Najpierw importowane są klasy `StringIndexer` oraz `OneHotEncoder` z biblioteki PySpark ML, które służą do przekształcania zmiennych kategorycznych na format numeryczny wymagany przez algorytmy uczenia maszynowego.
- Następnie tworzony jest obiekt `StringIndexer`, który zamienia wartości tekstowe w kolumnach takich jak `Sex` czy `Embarked` na odpowiadające im indeksy liczbowe. Indeksowanie dotyczy również pozostałych kolumn, aby zapewnić spójność typów danych.
- Model indeksujący jest dopasowywany do danych (`fit`), a następnie transformuje oryginalny zbiór danych, dodając nowe kolumny z indeksami (np. `Sex_index`, `Embarked_index`).
- W kolejnych komórkach wyświetlane są przykładowe wartości oryginalnych kolumn oraz ich zakodowanych odpowiedników, co pozwala zweryfikować poprawność przeprowadzonej transformacji.

Dzięki tym operacjom dane są odpowiednio przygotowane do dalszych etapów analizy i budowy modeli predykcyjnych w środowisku Spark.

In [19]:
from pyspark.ml.feature import StringIndexer, OneHotEncoder

In [20]:
string_indexer = StringIndexer(
    inputCols=["Sex", "Embarked"],
    outputCols=["Sex_index", "Embarked_index"],
    handleInvalid="keep"
)
string_indexer_model = string_indexer.fit(dataset)
dataset = string_indexer_model.transform(dataset)

In [21]:
dataset.show(5)

+--------+------+------+----+-----+-----+-------+--------+---------+--------------+
|Survived|Pclass|   Sex| Age|SibSp|Parch|   Fare|Embarked|Sex_index|Embarked_index|
+--------+------+------+----+-----+-----+-------+--------+---------+--------------+
|       0|     3|  male|22.0|    1|    0|   7.25|       S|      0.0|           0.0|
|       1|     1|female|38.0|    1|    0|71.2833|       C|      1.0|           1.0|
|       1|     3|female|26.0|    0|    0|  7.925|       S|      1.0|           0.0|
|       1|     1|female|35.0|    1|    0|   53.1|       S|      1.0|           0.0|
|       0|     3|  male|35.0|    0|    0|   8.05|       S|      0.0|           0.0|
+--------+------+------+----+-----+-----+-------+--------+---------+--------------+
only showing top 5 rows

In [22]:
oh_encoder = OneHotEncoder(inputCols=["Sex_index", "Embarked_index"],
                           outputCols=["Sex_OHE", "Embarked_OHE"])
oh_encoder_model = oh_encoder.fit(dataset)
dataset = oh_encoder_model.transform(dataset)
dataset.show(5)

+--------+------+------+----+-----+-----+-------+--------+---------+--------------+-------------+-------------+
|Survived|Pclass|   Sex| Age|SibSp|Parch|   Fare|Embarked|Sex_index|Embarked_index|      Sex_OHE| Embarked_OHE|
+--------+------+------+----+-----+-----+-------+--------+---------+--------------+-------------+-------------+
|       0|     3|  male|22.0|    1|    0|   7.25|       S|      0.0|           0.0|(2,[0],[1.0])|(3,[0],[1.0])|
|       1|     1|female|38.0|    1|    0|71.2833|       C|      1.0|           1.0|(2,[1],[1.0])|(3,[1],[1.0])|
|       1|     3|female|26.0|    0|    0|  7.925|       S|      1.0|           0.0|(2,[1],[1.0])|(3,[0],[1.0])|
|       1|     1|female|35.0|    1|    0|   53.1|       S|      1.0|           0.0|(2,[1],[1.0])|(3,[0],[1.0])|
|       0|     3|  male|35.0|    0|    0|   8.05|       S|      0.0|           0.0|(2,[0],[1.0])|(3,[0],[1.0])|
+--------+------+------+----+-----+-----+-------+--------+---------+--------------+-------------+-------------+
only showing top 5 rows

In [23]:
from pyspark.ml.feature import StandardScaler, VectorAssembler
from pyspark.ml import Pipeline

In [24]:
target_name = "Survived"

In [25]:
feature_names = ["Pclass", "Age", "SibSp", "Parch", "Fare","Sex_index", "Embarked_index"]
feature_names

['Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Sex_index', 'Embarked_index']

In [26]:
feature_assembler = VectorAssembler(inputCols=feature_names, outputCol="features")
feature_dataset = feature_assembler.transform(dataset)
feature_dataset.show(5)

+--------+------+------+----+-----+-----+-------+--------+---------+--------------+-------------+-------------+--------------------+
|Survived|Pclass|   Sex| Age|SibSp|Parch|   Fare|Embarked|Sex_index|Embarked_index|      Sex_OHE| Embarked_OHE|            features|
+--------+------+------+----+-----+-----+-------+--------+---------+--------------+-------------+-------------+--------------------+
|       0|     3|  male|22.0|    1|    0|   7.25|       S|      0.0|           0.0|(2,[0],[1.0])|(3,[0],[1.0])|[3.0,22.0,1.0,0.0...|
|       1|     1|female|38.0|    1|    0|71.2833|       C|      1.0|           1.0|(2,[1],[1.0])|(3,[1],[1.0])|[1.0,38.0,1.0,0.0...|
|       1|     3|female|26.0|    0|    0|  7.925|       S|      1.0|           0.0|(2,[1],[1.0])|(3,[0],[1.0])|[3.0,26.0,0.0,0.0...|
|       1|     1|female|35.0|    1|    0|   53.1|       S|      1.0|           0.0|(2,[1],[1.0])|(3,[0],[1.0])|[1.0,35.0,1.0,0.0...|
|       0|     3|  male|35.0|    0|    0|   8.05|       S|      0.0|           0.0|(2,[0],[1.0])|(3,[0],[1.0])|(7,[0,1,4],[3.0,3...|
+--------+------+------+----+-----+-----+-------+--------+---------+--------------+-------------+-------------+--------------------+
only showing top 5 rows

In [27]:
feature_dataset.printSchema()

root
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Embarked: string (nullable = true)
 |-- Sex_index: double (nullable = false)
 |-- Embarked_index: double (nullable = false)
 |-- Sex_OHE: vector (nullable = true)
 |-- Embarked_OHE: vector (nullable = true)
 |-- features: vector (nullable = true)

In [28]:
feature_dataset.select("features").show(5, truncate=False)

+----------------------------------+
|features                          |
+----------------------------------+
|[3.0,22.0,1.0,0.0,7.25,0.0,0.0]   |
|[1.0,38.0,1.0,0.0,71.2833,1.0,1.0]|
|[3.0,26.0,0.0,0.0,7.925,1.0,0.0]  |
|[1.0,35.0,1.0,0.0,53.1,1.0,0.0]   |
|(7,[0,1,4],[3.0,35.0,8.05])       |
+----------------------------------+
only showing top 5 rows

In [29]:
assemblers = [
    VectorAssembler(inputCols=feature_names, outputCol="as_features"),
    VectorAssembler(inputCols=[target_name], outputCol="target")
]
assembler_pipeline = Pipeline(stages=assemblers)
assembler_model = assembler_pipeline.fit(dataset)
dataset = assembler_model.transform(dataset)

In [30]:
dataset.show(5, truncate=False)

+--------+------+------+----+-----+-----+-------+--------+---------+--------------+-------------+-------------+----------------------------------+------+
|Survived|Pclass|Sex   |Age |SibSp|Parch|Fare   |Embarked|Sex_index|Embarked_index|Sex_OHE      |Embarked_OHE |as_features                       |target|
+--------+------+------+----+-----+-----+-------+--------+---------+--------------+-------------+-------------+----------------------------------+------+
|0       |3     |male  |22.0|1    |0    |7.25   |S       |0.0      |0.0           |(2,[0],[1.0])|(3,[0],[1.0])|[3.0,22.0,1.0,0.0,7.25,0.0,0.0]   |[0.0] |
|1       |1     |female|38.0|1    |0    |71.2833|C       |1.0      |1.0           |(2,[1],[1.0])|(3,[1],[1.0])|[1.0,38.0,1.0,0.0,71.2833,1.0,1.0]|[1.0] |
|1       |3     |female|26.0|0    |0    |7.925  |S       |1.0      |0.0           |(2,[1],[1.0])|(3,[0],[1.0])|[3.0,26.0,0.0,0.0,7.925,1.0,0.0]  |[1.0] |
|1       |1     |female|35.0|1    |0    |53.1   |S       |1.0      |0.0           |(2,[1],[1.0])|(3,[0],[1.0])|[1.0,35.0,1.0,0.0,53.1,1.0,0.0]   |[1.0] |
|0       |3     |male  |35.0|0    |0    |8.05   |S       |0.0      |0.0           |(2,[0],[1.0])|(3,[0],[1.0])|(7,[0,1,4],[3.0,35.0,8.05])       |[0.0] |
+--------+------+------+----+-----+-----+-------+--------+---------+--------------+-------------+-------------+----------------------------------+------+
only showing top 5 rows

In [31]:
scalers = [
    StandardScaler(inputCol="as_features", outputCol="features_scaled", withMean=True, withStd=True),
    StandardScaler(inputCol="target", outputCol="target_scaled", withMean=True, withStd=True)
]
scaler_pipeline = Pipeline(stages=scalers)
scaler_model = scaler_pipeline.fit(dataset)  
dataset = scaler_model.transform(dataset)
dataset.show(5, truncate=False)

+--------+------+------+----+-----+-----+-------+--------+---------+--------------+-------------+-------------+----------------------------------+------+--------------------------------------------------------------------------------------------------------------------------------------------+---------------------+
|Survived|Pclass|Sex   |Age |SibSp|Parch|Fare   |Embarked|Sex_index|Embarked_index|Sex_OHE      |Embarked_OHE |as_features                       |target|features_scaled                                                                                                                             |target_scaled        |
+--------+------+------+----+-----+-----+-------+--------+---------+--------------+-------------+-------------+----------------------------------+------+--------------------------------------------------------------------------------------------------------------------------------------------+---------------------+
|0       |3     |male  |22.0|1    |0    |7.25   |S       |0.0      |0.0           |(2,[0],[1.0])|(3,[0],[1.0])|[3.0,22.0,1.0,0.0,7.25,0.0,0.0]   |[0.0] |[0.8269128165243681,-0.5921480257661316,0.43255042804180244,-0.47340772456838975,-0.5021631365156044,-0.7372810452296834,-0.568445011759852]|[-0.7888292974421186]|
|1       |1     |female|38.0|1    |0    |71.2833|C       |1.0      |1.0           |(2,[1],[1.0])|(3,[1],[1.0])|[1.0,38.0,1.0,0.0,71.2833,1.0,1.0]|[1.0] |[-1.5652278312782775,0.6384304439468866,0.43255042804180244,-0.47340772456838975,0.7864036178345394,1.354812621329705,0.9757150659170634]   |[1.266278609051822]  |
|1       |3     |female|26.0|0    |0    |7.925  |S       |1.0      |0.0           |(2,[1],[1.0])|(3,[0],[1.0])|[3.0,26.0,0.0,0.0,7.925,1.0,0.0]  |[1.0] |[0.8269128165243681,-0.2845034083378771,-0.4742788222764235,-0.47340772456838975,-0.4885798515812601,1.354812621329705,-0.568445011759852]  |[1.266278609051822]  |
|1       |1     |female|35.0|1    |0    |53.1   |S       |1.0      |0.0           |(2,[1],[1.0])|(3,[0],[1.0])|[1.0,35.0,1.0,0.0,53.1,1.0,0.0]   |[1.0] |[-1.5652278312782775,0.40769698087569567,0.43255042804180244,-0.47340772456838975,0.4204940697654103,1.354812621329705,-0.568445011759852]  |[1.266278609051822]  |
|0       |3     |male  |35.0|0    |0    |8.05   |S       |0.0      |0.0           |(2,[0],[1.0])|(3,[0],[1.0])|(7,[0,1,4],[3.0,35.0,8.05])       |[0.0] |[0.8269128165243681,0.40769698087569567,-0.4742788222764235,-0.47340772456838975,-0.4860644284452704,-0.7372810452296834,-0.568445011759852]|[-0.7888292974421186]|
+--------+------+------+----+-----+-----+-------+--------+---------+--------------+-------------+-------------+----------------------------------+------+--------------------------------------------------------------------------------------------------------------------------------------------+---------------------+
only showing top 5 rows